.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title-modal {
    display: flex;
    align-items: center;
    padding-left: 20px;
    height: 70px;
}

.title-modal h2 {
    margin: 0;
}

.body-modal{
    width: 100%;
    height: 100%;
}

.form-group-client {
    width: 90%;
    margin-top: 20px;
}

.row-inputs {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.mat-tab-content{
    padding-top: 20px;
}

.form-input {
    width: 48%; 
}

.footer-stepper {
    width: 95%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-end;
}


input.remove-flechitas::-webkit-outer-spin-button,
input.remove-flechitas::-webkit-inner-spin-button {
    display: none;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.form-input-full {
    width: 100%;
}