<div class="login-page">
    <div class="login-card">
        <div class="card-image">
            <p>El logo va aquí</p>
        </div>
        <div class="card-form">
            <form class="example-form">
                <div class="title-form">
                    <h1>Bienvenido</h1>
                </div>
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Usuario</mat-label>
                    <input autocomplete="off" matInput type="text">
                </mat-form-field>
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Contraseña</mat-label>
                    <input autocomplete="off" matInput type="password">
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="onSubmit()">Ingresar</button>
            </form>
        </div>
    </div>
</div>